<launch>

  <arg name="mission_folder" default="ros_ctrl"/>
  <arg name="moos-community" default='bravo'/>

    <!-- moos-ros-bridge Node -->
  <node pkg="moos-ros-bridge" type="Bridge" name="Bridge" 
        args="$(find moos-ros-bridge)/config/ros_ctrl_waypt.xml ~/moos-dawg-2024/arg-moos/$(arg moos-community)/$(arg mission_folder)/$(arg moos-community).moos"
        respawn="false" output="screen" />

</launch>