<launch>
    <!-- moos-ros-bridge Node -->
  <node pkg="moos-ros-bridge" type="Bridge" name="Bridge" 
        args="$(find moos-ros-bridge)/config/s1_alpha_toROS.xml"
        respawn="false" output="screen" />

  <!-- <node pkg="moos-ros-bridge" type="counter" name="counter" respawn="false" 
        output="screen" /> -->

</launch>